<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{template}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Camp Organizer 2</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<th:block layout:fragment="content">
		<div class="mainpage">
			<div class="alert alert-success alert-dismissible fade show block660" role="alert">
				Mit dem Umzug in das neue Anmeldeportal ist es leider notwendig, dass du dir ein neues Login anlegst. Damit das für dich leichter geht, haben wir ein Migrationswerkzeug entwickelt, mit dem
				du deinen alten Zugang übertragen kannst.<br /> <br /> Wichtig dabei ist, dass du beim Anlegen des neuen Zugangs eine gültige E-Mail-Adresse verwendest. Die wird im neuen System
				benötigt, falls du dein Passwort vergessen hast. Damit eine sinnvolle Zuordnung möglich ist, gib bitte ebenfalls Vor- und Nachname an.<br /> <br /> Nach dem Umzug werden bisherige
				Anmeldungen nur dann automatisch zugewiesen, wenn der alte Nutzername nur in Kleinbuchstaben geschrieben war. Alle anderen Nutzer sollten für den Zugriff auf ihre Anmeldungen eine E-Mail
				an <a href="mailto:webmaster@jungscharfreizeiten.de">webmaster@jungscharfreizeiten.de</a> schicken.<br />
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Schließen"></button>
			</div>
			<div class="block660">
				<div class="card centered-card" style="max-width: 48rem">
					<div class="card-body">
						<form th:action="@{/migration/loginold}" th:object="${bean}" method="post">
							<div class="container">
								<div class="row">
									<div class="col-sm-6 rowdist">
										<span class="error" th:each="error : ${#fields.errors('username')}">[[${error}]]<br /></span> <input type="text" placeholder="username (alter Nutzername)" th:field="*{username}"
											th:class="${'form-control ' + (#fields.hasErrors('username') ? 'inputerror' : '')}" />
									</div>
									<div class="col-sm-6 rowdist">
										<span class="error" th:each="error : ${#fields.errors('password')}">[[${error}]]<br /></span> <input type="password" placeholder="(altes = neues) Passwort" th:field="*{password}"
											th:class="${'form-control ' + (#fields.hasErrors('password') ? 'inputerror' : '')}" />
									</div>
									<div class="col-sm-6 rowdist">
										<span class="error" th:each="error : ${#fields.errors('forename')}">[[${error}]]<br /></span> <input type="text" placeholder="Vorname" th:field="*{forename}"
											th:class="${'form-control ' + (#fields.hasErrors('forename') ? 'inputerror' : '')}" />
									</div>
									<div class="col-sm-6 rowdist">
										<span class="error" th:each="error : ${#fields.errors('surname')}">[[${error}]]<br /></span> <input type="text" placeholder="Nachname" th:field="*{surname}"
											th:class="${'form-control ' + (#fields.hasErrors('surname') ? 'inputerror' : '')}" />
									</div>
									<div class="col-sm-12 rowdist">
										<span class="error" th:each="error : ${#fields.errors('email')}">[[${error}]]<br /></span> <input type="text" placeholder="E-Mail" th:field="*{email}"
											th:class="${'form-control ' + (#fields.hasErrors('email') ? 'inputerror' : '')}" />
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 rowdist">
										<div class="alert alert-success alert-dismissible fade show block660" role="alert">
											Nach dem Klicken auf den Button <b>jetzt umziehen</b> wirst du auf die Anmeldeseite weitergeleitet. Dann kannst du dich dort mit dem umgezogenen Login anmelden.
											<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Schließen"></button>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 rowdist centered">
										<input type="submit" class="btn btn-linda buttonfont" value="jetzt umziehen" />
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>