<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{template}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
	<div th:fragment="camplist(camps)">
		<div class="accordion block660" id="accordionExample">
			<div class="accordion-item" th:each="c : ${camps}">
				<h2 class="accordion-header" style="background: transparent" th:id="'heading' + ${c.pk}">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapse' + ${c.pk}" aria-expanded="false" th:aria-controls="'collapse' + ${c.pk}">
						<span th:text="${c.name}" class="headlinefont"></span><span class="headlinefont">&nbsp;</span><span th:text="${#numbers.formatInteger(c.year, 0)}" class="headlinefont"
							th:if="${c.year != null}"></span>
					</button>
				</h2>
				<div th:id="'collapse' + ${c.pk}" class="accordion-collapse collapse" th:aria-labelledby="'heading' + ${c.pk}" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<table style="width: 100%">
							<tr>
								<td rowspan="4"><img th:src="@{/images/Icon_Stern.svg}" width="36px" height="36px" style="margin-left: 24px" /></td>
								<td rowspan="4">
									<div>
										Biblische Geschichten<br /> Nachtwanderung<br /> Gruppenspiele<br /> Ausflüge<br /> Überraschungen
									</div>
								</td>
								<td><span class="cabin">Ort</span></td>
								<td><a th:href="${c.url}" th:text="${c.locationName}" target="_blank"></a></td>
							</tr>
							<tr>
								<td><img th:src="@{/images/Icon_Alter.svg}" width="36px" height="36px" style="margin-top: 24px" /></td>
								<td><div th:text="${c.minAge} + ' - ' + ${c.maxAge} + ' Jahre'" style="margin-top: 24px"></div></td>
							</tr>
							<tr>
								<td><img th:src="@{/images/Icon_Datum.svg}" width="36px" height="36px" style="margin-top: 24px" /></td>
								<td><div th:text="${#temporals.format(c.arrive, 'dd.MM.')} + ' - ' + ${#temporals.format(c.depart, 'dd.MM.yyyy')}" th:if="${c.arrive != null&&  c.depart != null}"
										style="margin-top: 24px"></div></td>
							</tr>
							<tr>
								<td><img th:src="@{/images/Icon_Preis.svg}" width="36px" height="36px" style="margin-top: 24px" /></td>
								<td><div style="margin-top: 24px">
										<p th:text="${c.price}"></p>
									</div></td>
							</tr>
						</table>
						<div style="text-align: center; margin-top: 64px">
							<a class="btn btn-linda buttonfont" th:href="@{/registration/{id}(id=${c.pk})}">jetzt anmelden</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>