@font-face {
	font-family: 'Cabin Sketch';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/Cabin-Sketch-700.eot'); /* IE9 */
	src: url('../fonts/Cabin-Sketch-700.eot?#iefix')
		format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Cabin-Sketch-700.woff2') format('woff2'),
		/* Modern Browsers */
    url('../fonts/Cabin-Sketch-700.woff') format('woff'),
		/* Modern Browsers */
    url('../fonts/Cabin-Sketch-700.ttf') format('truetype'),
		/* Safari, Android, iOS */
    url('../fonts/Cabin-Sketch-700.svg#CabinSketch') format('svg');
	/* Legacy iOS */
}

/* fira-sans-regular - latin */
@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/fira-sans-v16-latin-regular.eot');
	/* IE9 Compat Modes */
	src: local(''), url('../fonts/fira-sans-v16-latin-regular.eot?#iefix')
		format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-sans-v16-latin-regular.woff2') format('woff2'),
		/* Super Modern Browsers */
       url('../fonts/fira-sans-v16-latin-regular.woff') format('woff'),
		/* Modern Browsers */
       url('../fonts/fira-sans-v16-latin-regular.ttf')
		format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-sans-v16-latin-regular.svg#FiraSans')
		format('svg'); /* Legacy iOS */
}

html {
	width: 100vw;
	height: 100vh;
}

body {
	background-image: url('../images/background.jpg');
}

.navbar-background {
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
}

a {
	font-family: 'Fira Sans';
}

span {
	font-family: 'Fira Sans';
}

div {
	font-family: 'Fira Sans';
}

.cabin {
	font-family: 'Cabin Sketch' !important;
}

.headlinefont {
	font-family: 'Cabin Sketch' !important;
	font-size: xx-large;
}

.hugefont {
	font-family: 'Cabin Sketch' !important;
	font-size: 32px;
}

.menufont {
	font-family: 'Cabin Sketch' !important;
}

.buttonfont {
	font-family: 'Cabin Sketch' !important;
}

.versionclip {
	transform: rotate(270deg);
	margin-top: 20px;
	position: fixed;
	top: 4px;
	right: -32px;
	font-size: smaller;
	padding: 8px;
	background-image: linear-gradient(to bottom, rgb(154, 153, 150), #fff);
	border-radius: 6px;
	font-family: 'Fira Sans';
	z-index: 10000;
}

.versionlink {
	color: #333;
	text-decoration: none;
}

.mainpage {
	background-color: rgba(255, 255, 255, 0.4);
	padding: 16px;
	overflow: auto;
	width: 100%;
	height: calc(100vh - 72px);
	/* 60 px is the current height of the headline; TODO: calculate it */
}

.acc_over {
	background-image: linear-gradient(to bottom right, #ccc, #aaa)
		!important;
}

.acc_true {
	background-image: linear-gradient(to bottom right, #cfc, #afa)
		!important;
}

.acc_false {
	background-image: linear-gradient(to bottom right, #fcc, #faa)
		!important;
}

.acc_null {
	background-image: linear-gradient(to bottom right, #fdb, #fca)
		!important;
}

.right-dist {
	margin-right: 28px;
}

.middlecenter {
	margin: auto;
	top: 40vh;
	bottom: 40vh;
	position: fixed;
	left: 40vw;
	right: 40vw;
}

.centered {
	text-align: center;
}

.centered-card {
	margin-left: auto;
	margin-right: auto;
}

.rowdist {
	margin-top: 8px;
	margin-bottom: 8px;
}

.myheadline {
	margin: 8px;
}

.bottomdist16 {
	margin-bottom: 16px;
}

.topright {
	position: fixed;
	right: 40px;
	top: 8px;
}

.middled {
	vertical-align: middle;
}

.tablelink {
	cursor: pointer;
	text-decoration: none;
	color: rgb(26, 95, 180);
}

.tablelink:hover {
	text-decoration: underline;
	color: darkcyan;
}

.deletelink {
	padding: 4px;
	border: 1px solid rgba(0, 0, 0, 0.0);
	border-radius: 4px;
}

.deletelink:hover {
	color: red;
	border: 1px solid red;
	text-decoration-line: line-through;
}

.linkbtn {
	background: transparent;
	border: 2px solid transparent;
	padding: 8px;
	font-family: 'Cabin Sketch';
}

.linkbtn:hover {
	background-color: white;
	border: 2px solid silver;
	border-radius: 4px;
}

.btn-icon-silent {
	background: transparent;
	border: 2px solid transparent;
	padding: 8px;
	color: gray;
}

.btn-icon-silent:hover {
	background-color: white;
	border: 2px solid silver;
	border-radius: 4px;
	color: darkcyan;
}

.btn-dropdown {
	right: 2px;
	top: 2px;
	position: absolute;
	border: 1px solid silver;
}

.btn-dropdown:hover {
	background: rgba(0, 0, 0, 0.5);
}

.btn-linda {
	border-radius: 26px;
	box-shadow: 0px 0px 7px 4px #ddd;
	font-family: 'Cabin Sketch';
	font-size: x-large;
	margin-left: auto;
	margin-right: auto;
}

.btn-linda:hover {
	color: white !important;
	background-color: #534f43 !important;
}

.silver-to-gray-gradient {
	background-image: linear-gradient(to bottom right, lightgray, silver)
		!important;
}

.menu-danger {
	color: darkred;
	font-weight: bolder;
}

.menu-danger:hover {
	color: white;
	background: red;
}

.badgetodo {
	border-radius: 8px;
	border: 1px solid black;
	color: white;
	font-weight: bolder;
	background-image: linear-gradient(to right bottom, rgb(153, 193, 241),
		rgb(26, 95, 180));
	padding: 2px 4px 2px 4px;
	margin: 0px 2px 0px 2px;
}

.badgewarn {
	border-radius: 8px;
	border: 1px solid black;
	color: white;
	font-weight: bolder;
	background-image: linear-gradient(to right bottom, #fa0, #a70);
	padding: 2px 4px 2px 4px;
	margin: 0px 2px 0px 2px;
}

.badgeinfo {
	border-radius: 8px;
	border: 1px solid black;
	color: white;
	font-weight: bolder;
	background-image: linear-gradient(to right bottom, rgb(143, 240, 164),
		rgb(38, 162, 105));
	padding: 2px 4px 2px 4px;
	margin: 0px 2px 0px 2px;
}

.dist8 {
	margin: 8px;
}

.error {
	color: red;
}

.inputerror {
	border: 1px solid red !important;
	background-image: linear-gradient(to left bottom, #fff, #fcc) !important;
	padding: 4px !important;
	border-radius: 6px !important;
}

.locked {
	background-color: rgba(255, 255, 255, 0.2) !important;
	cursor: not-allowed;
}

.framed {
	padding: 8px;
	margin-right: 12px;
	border-radius: 6px;
	min-width: 30px;
	min-height: 30px;
	text-align: center;
}

.framed-green {
	background: linear-gradient(to bottom right, lime, darkgreen);
	color: white;
	border: 1px solid green;
}

.framed-red {
	background: linear-gradient(to bottom right, red, darkred);
	color: white;
	border: 1px solid red;
}

.framed-orange {
	background: linear-gradient(to bottom right, orange, #bf6c06);
	color: white;
	border: 1px solid orange;
}

.framed-white {
	background: white;
	color: black;
	border: 1px solid black;
}

.nomaxwidth {
	max-width: none !important;
}

.mytoggle_collapsed {
	display: none;
}

.mytoggle_btn {
	cursor: pointer;
}

.mytoggle_btn:hover {
	background-color: rgba(255, 255, 255, 0.9) !important;
}

.loading {
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	font-weight: bolder;
	font-size: xx-large;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	text-align: center;
	padding-top: 45vh;
}

.roleflag {
	border-radius: 24px;
	border: 1px solid gray;
	padding: 4px;
	margin: 2px;
	background-image: linear-gradient(to right bottom, silver, white);
}

.tablebox {
	margin: 8px;
	background-color: rgba(255, 255, 255, 0.5) !important;
	padding: 6px;
	border-radius: 8px;
	border: 1px solid gray;
}

.block660 {
	max-width: 660px;
	margin-left: auto;
	margin-right: auto;
}

.blocktext {
	max-width: 1200px;
	margin: 0 auto;
}

.blocktext786 {
  max-width: 786px;
  margin: 0 auto;
}

.leftimage {
	margin-right: 32px;
}

.rightimage {
	margin-left: 32px;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.lindaborders {
	box-shadow: 0px 0px 7px 4px #ddd;
	border-radius: 40px;
}

.beforetext {
	margin-right: 8px;
}

.visibledropdown {
	max-height: 80vh;
	overflow: auto;
}
