<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{template}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Camp Organizer 2</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<th:block layout:fragment="content">
		<div class="mainpage">
		  <div class="alert alert-warning alert-dismissible fade show block660" role="alert">
		  	<span>alte Zugangsdaten ins neue System </span><a th:href="@{/migration/login}">umziehen</a>
		  	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Schließen"></button>
		  </div>
			<div th:replace="~{/fragments/camplist.html::camplist(camps=${camps})}"></div>
		</div>
	</th:block>
</body>
</html>