<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Fehler</title>
<link th:rel="stylesheet" th:href="@{/css/style.css}" />
<link th:rel="stylesheet" type="text/css" media="all" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} " />
<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</head>

<body>
  <div class="middlecenter">
    <div class="alert alert-danger" role="alert">
      <p class="hugefont">Es ist ein Fehler aufgetreten.</p>
      <a th:href="@{/}" class="linkbtn">Ach, Mist...</a>
    </div>
  </div>
</body>

</html>