<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{template}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Camp Organizer 2</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<th:block layout:fragment="content">
		<div class="container">
			<div class="row">
				<div class="col">
					<h1>Nachruf Onkel Werner</h1>
					<img th:src="@{/images/ow-311x450.jpg}" alt="ow" width="200" align="left" class="leftimage rounded" />
					<p>Am 11. März 2023 hat der Herr Jesus Christus unseren hochgeschätzten „Onkel Werner“ zu sich in den Himmel geholt – sein wahres Zuhause, wie er immer wieder betont hatte. Nachdem er in den letzten Wochen körperlich immer schwächer geworden war, darf er nun ohne jegliche Schmerzen und Traurigkeit den sehen, für den er sein Leben investiert hat.</p>
					<p>Wir sind wirklich dankbar für sein Vorbild in treuem Dienst bis ins hohe Alter, im Gebet und in der tiefen und herzlichen Liebe zu Gott und Menschen – insbesondere zu Kindern und Jugendlichen! Es war sein größter Wunsch, dass möglichst viele Kinder vom Evangelium – der rettenden Botschaft – hören und ebenfalls ihr Leben in der Nachfolge des Herrn Jesus führen.</p>
					<p>Dafür hat er mit Gottes Hilfe in den letzten 60 Jahren die heute bestehende Freizeitarbeit aufgebaut und dabei besonderen Wert darauf gelegt, dass Gott und sein Wort im Mittelpunkt stehen. Wie viele schöne Stunden durften wir miteinander erleben! Und wie viel unermesslicher Segen ist durch diese Freizeiten entstanden! Wir sind uns sicher, dass durch seine Kinderstunden, die Freizeiten und sein persönliches Vorbild hunderte (wenn nicht sogar tausende) junge Leute geprägt und verändert wurden.</p>
					<p>Einen Tag vor seinem Tod sagte er dazu: „Ich will mir dafür nicht auf die Schulter klopfen. Es ist Gottes Werk.“</p>
					<p>Wir dürfen dankbar sein, für das, was er durch Gottes Gnade aufgebaut hat und bitten euch herzlich um Gebet, um diese große Arbeit der Freizeiten so weiterzuführen, wie es dem Herrn gefällt und wie es sich auch Onkel Werner gewünscht hat. Er sagte, dass er sich wünscht und dafür betet, dass wir noch doppelt so viel Segen erleben dürften, ähnlich wie Elisa, der sich das doppelte des Geistes Elias erbat.</p>
					<p>Onkel Werner wird uns fehlen, aber wir freuen uns, dass er nach einem erfüllten Leben sein Ziel erreichen durfte!</p>
				<!--
					<img class="img-fluid rounded" th:src="@{/images/start-banner-2019.jpg}" alt=""><br />
					<br />
					<div class="blocktext">
					  <h1 style="text-align: left">Ferien, die in Erinnerung bleiben – persönlich, echt, erlebnisreich</h1>
					  <p style="text-align: left">Du willst nicht einfach deine Zeit totschlagen, sondern Ferien erleben, die dein Leben prägen,
					    sinnvoll sind und dazu Spaß machen? Dann bist du hier genau richtig! Bei den Freizeiten geht es um Freundschaften, Spaß und
					    vor allem Gottes Wort. Genau dafür stehen Onkel Werner Freizeiten!</p>
					  <p></p>
					  <h2 style="text-align: left">Unsere Freizeiten</h2>
					  <h4 style="text-align: left">Erfahre hier, welche Freizeiten wir anbieten und was da so abgeht.</h4>
					  <p style="text-align: left">Preise, Termine und weitere Infos findest du in unserem Buchungsportal.</p>
					  <p style="text-align: left">
					    <a th:href="@{/camplist}">Jetzt Freizeiten entdecken</a>
					  </p>
					</div>
					-->
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>
