<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Camp Organizer 2</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link th:rel="stylesheet" type="text/css" media="all" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css} " />
<link th:rel="stylesheet" type="text/css" media="all" th:href="@{/webjars/font-awesome/5.15.4/css/all.css} " />
<link th:rel="stylesheet" type="text/css" media="all" th:href="@{/webjars/datatables/1.13.2/css/jquery.dataTables.min.css}" />
<link th:rel="stylesheet" type="text/css" media="all" th:href="@{/webjars/select2/4.0.13/css/select2.min.css}" />
<link th:rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />
<link th:rel="stylesheet" type="text/css" media="all" th:href="@{/css/select2-bootstrap-5-theme.min.css}" />
<script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/datatables/1.13.2/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/webjars/select2/4.0.13/js/select2.full.min.js}"></script>
<script th:src="@{/js/dataTables.de.js}"></script>
<script th:src="@{/js/mytoggle.js}"></script>
<script th:src="@{/js/myAjax.js}"></script>
<script th:src="@{/js/progress.js}"></script>
</head>
<body>
	<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light headerlayout navbar-background">
		<span class="navbar-brand"><img th:src="@{/images/logo.png}" width="128px" style="margin-left: 8px" /></span>
		<!-- remove? -->
		<!-- <div class="container-fluid">
		<!--  -->
		<button class="navbar-toggler" style="margin-right: 40px" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			aria-expanded="false">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-right: 20px">
			<ul class="navbar-nav mb-2 mb-lg-0">
				<li class="nav-item"><a th:href="@{/ical}" class="btn btn-secondary btn-icon-silent" target="_blank" title="Freizeitdaten als ical herunterladen"><i class="far fa-calendar-alt"></i></a></li>
				<li class="nav-item"><a class="btn btn-icon-silent menufont" th:href="@{/}">Startseite</a></li>
				<li class="nav-item"><a class="btn btn-icon-silent menufont" th:href="@{/allgemeines}">Allgemeines</a></li>
				<li class="nav-item"><a class="btn btn-icon-silent menufont" th:href="@{/camplist}">Freizeiten</a></li>
				<li class="nav-item"><a class="btn btn-icon-silent menufont" th:href="@{/verein}">Verein</a></li>
				<li class="nav-item dropdown"><a class="nav-link dropdown-toggle btn-icon-silent menufont" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Tagebuch </a>
					<ul class="dropdown-menu visibledropdown" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item menufont" th:href="@{/reports/olfenostern2023}">Osterfreizeit 2023 in Olfen</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item menufont" th:href="@{/reports/olfen2020}">Herbstfreizeit 2020 in Olfen</a></li>
						<li><a class="dropdown-item menufont" th:href="@{/reports/heimfreizeit2020}">Heimfreizeit 2020</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item menufont" th:href="@{/reports/rehe2019}">Rehe 2019</a></li>
						<li><a class="dropdown-item menufont" th:href="@{/reports/growup2019}">GrowUp 2019</a></li>
						<li><a class="dropdown-item menufont" th:href="@{/reports/schweiz2019}">Schweiz 2019</a></li>
						<li><a class="dropdown-item menufont" th:href="@{/reports/hohenhaslach2019}">Hohenhaslach 2019</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item menufont" th:href="@{/reports/olfen2018}">Osterfreizeit 2018 in Olfen</a></li>
						<li><a class="dropdown-item menufont" th:href="@{/reports/growup2018}">GrowUp 2018</a></li>
						<li><a class="dropdown-item menufont" th:href="@{/reports/schweiz2018}">Schweiz-Freizeit 2018 in Kiental</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item menufont" th:href="@{/reports/growup2017}">GrowUp 2017</a></li>
						<li><a class="dropdown-item menufont" th:href="@{/reports/schweiz2017}">Schweiz 2017</a></li>
						<li><a class="dropdown-item menufont" th:href="@{/reports/heimfreizeit2017}">Heimfreizeit 2017</a></li>
						<li><a class="dropdown-item menufont" th:href="@{/reports/hohenhaslach2017}">Hohenhaslach 2017</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item menufont" th:href="@{/reports/olfen2015}">Olfen 2015</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item menufont" th:href="@{/reports/wrist2014}">Wrist 2014</a></li>
						<li><a class="dropdown-item menufont" th:href="@{/reports/vorolfen2014}">Vorbereitungstreffen Olfen 2014</a></li>
						<li><a class="dropdown-item menufont" th:href="@{/reports/vorschweiz2014}">Vorbereitungstreffen Schweiz 2014</a></li>
						<li><a class="dropdown-item menufont" th:href="@{/reports/olfen2014}">Olfen 2014</a></li>
						<li><a class="dropdown-item menufont" th:href="@{/reports/schweiz2014}">Schweiz 2014</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item menufont" th:href="@{/reports/history}">Über 30 Jahre Onkel Werner Freizeiten – Ein Rückblick ...</a></li>
					</ul></li>
				<li class="nav-item"><a class="btn btn-icon-silent menufont" th:href="@{/kontakt}">Kontakt</a></li>
			</ul>
			<ul class="navbar-nav mb-2 mb-lg-0" sec:authorize="hasRole('business')">
				<li class="nav-item">
					<div class="dropdown">
						<a class="nav-link dropdown-toggle btn-icon-silent menufont" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Abrechnung</a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/business}" class="dropdown-item menufont">Freizeitübersicht</a></li>
							<li><a th:href="@{/business/bookings}" class="dropdown-item menufont" sec:authorize="hasRole('business_booking')">Buchungsübersicht</a></li>
							<li><a th:href="@{/business/privileges}" class="dropdown-item menufont" sec:authorize="hasRole('admin')">Nutzerverwaltung</a></li>
						</ul>
					</div>
				</li>
			</ul>
			<ul class="navbar-nav mb-2 mb-lg-0" sec:authorize="hasRole('registrator')">
				<li class="nav-item">
					<div class="dropdown">
						<a class="nav-link dropdown-toggle btn-icon-silent menufont" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Bestätigung</a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/rss/registrator}" class="dropdown-item menufont"><i class="fas fa-rss"></i>&nbsp;RSS-Link</a></li>
							<li><a th:href="@{/confirmation}" class="dropdown-item menufont">Anmeldungsübersicht</a></li>
						</ul>
					</div>
				</li>
			</ul>
			<ul class="navbar-nav mb-2 mb-lg-0" sec:authorize="hasRole('admin')">
				<li class="nav-item">
					<div class="dropdown">
						<a class="nav-link dropdown-toggle btn-icon-silent menufont" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close='outside' aria-expanded="false">Admin</a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/rss/admin}" class="dropdown-item menufont"><i class="fas fa-rss"></i>&nbsp;RSS-Link</a></li>
							<li><a th:href="@{/admin/mail}" class="dropdown-item menufont">Testmail</a></li>
							<li><a th:href="@{/admin/document}" class="dropdown-item menufont">Dokumente</a></li>
							<li><a th:href="@{/admin/location}" class="dropdown-item menufont">Freizeitheime</a></li>
							<li><a th:href="@{/admin/camp}" class="dropdown-item menufont">Freizeiten</a>
							<li class="dropdown dropend">
							  <a class="dropdown-item dropdown-toggle menufont" href="#" role="button" data-bs-auto-close='outside' data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Rechteverwaltung</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item menufont" th:href="@{/admin/privileges/userbased}">nutzerzentriert</a></li>
									<li><a class="dropdown-item menufont" th:href="@{/admin/privileges/rolebased}">rollenzentriert</a></li>
									<li><a class="dropdown-item menufont" th:href="@{/admin/privileges/campbased}">freizeitzentriert</a></li>
								</ul></li>
						</ul>
					</div>
				</li>
			</ul>
			<ul class="navbar-nav mb-2 mb-lg-0" th:if="${not #strings.isEmpty(currentUser)}">
				<li class="nav-item"><a href="https://www.onkelwernerfreizeiten.de/cloud" class="btn btn-secondary btn-icon-silent menufont" target="_blank">Nextcloud</a></li>
			</ul>
			<ul layout:fragment="header"></ul>
			<ul class="nav navbar-nav ms-auto">
				<li class="nav-item">
				  <a href="https://gitlab.com/jottyfan/camporganizer2/-/issues" class="btn btn-secondary btn-icon-silent menufont" target="_blank" th:text="${'v' + @manifestBean.getVersion()}"></a>
				</li>
			</ul>
			<ul class="nav navbar-nav">
				<li class="nav-item">
					<div class="dropdown">
						<button class="btn btn-hoverborder navbar-collapse" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							<img th:src="@{/images/Icon_Profil.svg}" width="24px" height="24px" />
						</button>
						<ul class="dropdown-menu dropdown-menu-end" th:if="${#strings.isEmpty(currentUser)}">
							<li><a class="dropdown-item" th:href="@{/dashboard}">einloggen</a></li>
							<li><hr /></li>
							<li><a class="dropdown-item" th:href="@{/migration/login}">Login umziehen</a></li>
						</ul>
						<ul class="dropdown-menu dropdown-menu-end" th:unless="${#strings.isEmpty(currentUser)}">
							<li><a class="dropdown-item" th:href="@{${keycloakProfileUrl}}" target="_blank">Benutzername ändern</a></li>
							<li><a class="dropdown-item" th:href="@{${keycloakProfileUrl} + '/password'}" target="_blank">Password ändern</a></li>
							<li><hr /></li>
							<li><a class="dropdown-item" th:href="@{/logout}"><b th:inline="text">[[${currentUser}]]</b> ausloggen</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<!-- </div> -->
	</nav>
	<div layout:fragment="content">content</div>
	<br />
	<div class="container" style="margin-bottom: 24px">
		<div class="row">
			<div class="col-md-10">
				<span> Copyright © 2022 <a class="text-light" href="https://www.onkelwernerfreizeiten.de/">Onkel Werner Freizeiten</a> All rights reserved.
				</span>
			</div>
			<div class="col-md-2">
				<a th:href="@{/impressum}">Impressum</a>&nbsp;&nbsp; <a th:href="@{/datenschutz}">Datenschutz</a>
			</div>
		</div>
	</div>
</body>
</html>